@model List<CvApp.DTO.DTOs.CertificationDtos.CertificationListDto>

<section class="resume-section" id="awards">
    <div class="resume-section-content">
        <h2 class="mb-5">Sertifikalarım</h2>
        <ul class="fa-ul mb-0">

            @foreach (var certification in Model)
            {
                <li>
                    <span class="fa-li"><i class="fas fa-trophy text-warning"></i></span>
                   @certification.Description
                </li>

            }

        </ul>
    </div>
</section>